p{
    padding: 10px;
}
    .container{
        width: 1200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
}

.header{
    width: 100%;
    height: auto;
    background-color: purple;
    float: left;

}

.navbar{
    width: 100%;
    height: auto;
    background-color: crimson;
    float: left;
}

.content{
    width: 100%;
    height: auto;
    background-color: purple;
    float: left;
}

.linha-e1{
    width: 100%;
    height: 500px;
    background-color: burlywood;
    float: left;
}

.texto-e1{
    width: 40%;
    height: 500px;
    background-color: blueviolet;
    float: left;
}

.linha-1{
    width: 100%;
    height: 400px;
    background-color: aqua;
    float: left;
}

.linha-2{
    width: 100%;
    height: 400px;
    background-color: blue;
    float: left;
}


.coluna-1{
    width: 50%;
    height: 400px;
    background-color: azure;
    float:left;
}

.coluna-2{
    width: 50%;
    height: 400px;
    background-color: grey;
}

.coluna-3{
    width: 50%;
    height: 400px;
    background-color: greenyellow;
}

.footer{
    width: 100%;
    height: 50px;
    background-color: crimson;
    float: left;
}

@media screen and (max-width: 600px) {
    .container, .header, .navbar, .content, .footer {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
